.card {
  &__container {
    background-color: hsl(0, 0%, 96%);
    box-shadow: 0px 5px 5px rgba(229, 54, 54, 0.5);
    border-radius: 15px;
    border: none;
    text-align: center;
    margin: 20rem;
  }

  &__picture {
    width: 250px;
    height: 400px;
    border-radius: 2rem;
    margin-top: 15px;
  }
  &__title {
    font-size: 32px;
    color: rgb(10, 91, 10);
    background-color: hsl(0, 0%, 96%);
  }
  &__fullline {
    font-size: 22px;
    color: rgb(40, 126, 40);
    font-family: "Courgette";
    background-color: hsl(0, 0%, 96%);
  }
  &__director {
    font-size: 22px;
    color: rgb(40, 126, 40);
    background-color: hsl(0, 0%, 96%);
  }
  &__audio {
    font-size: 20px;
    color: rgb(44, 147, 112);
    background-color: hsl(0, 0%, 96%);
  }
}
