@font-face {
  font-family: "Oleo";
  src: url("./assets/fonts/OleoScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Courgette";
  src: url("./assets/fonts/Courgette-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  font-family: "Oleo";
  background-color: rgb(238, 230, 230);
}
.loading_data {
  color: rgb(165, 41, 41);
  font-size: 24px;
}
.no_results {
  color: rgb(165, 41, 41);
  font-size: 24px;
}
.balls {
  width: 2em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.balls div {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: #fc2f70;
}

.balls div:nth-of-type(1) {
  transform: translateX(-100%);
  animation: left-swing 0.5s ease-in alternate infinite;
}

.balls div:nth-of-type(3) {
  transform: translateX(-95%);
  animation: right-swing 0.5s ease-out alternate infinite;
}

@keyframes left-swing {
  50%,
  100% {
    transform: translateX(95%);
  }
}

@keyframes right-swing {
  50% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(100%);
  }
}
