* {
    margin: 0px;
  }
  nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header-image{
    width: 400px;
  }
  .title{
      color:lightgreen;
      font-family:fantasy;
      font-size: 42px;
      margin-top: 20px;
  }